a {
	color: #CCF;
}

#infantwindow {
	width: 902px;
	height: 625px;
	background: url('images/background.png');
	position: relative;
	font-family: FZXiHei,Arial,Tahoma,Helvetica,sans-serif;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none; 
}

.card {
	width: 84px;
	height: 97px;
	background: url('images/cards/66225.png');
	position: absolute;
	z-index: 999;
}
.ui-draggable-dragging {
	z-index: 1000;
	pointer-events: none;
}
.card .score {
	top: 5px;
    left: 34px;
    width: 50px;
	font-size: 10pt;
	position: relative;
	text-align: right;
}

.card .name {
    top: 74px;
    left: 8px;
    font-size: 16px;
    position: relative;
    color: rgb(252,234,204);
    font-family: fzkai,serif;
    line-height: 1em;
	width: 120px;
}

.card .cost {
	top: 112px;
    left: 28px;
    font-size: 16px;
    position: absolute;
    color: rgb(252,234,204);
    font-family: fzkai,serif;
    line-height: 1em;
	display: none;
}

.card .cost.notenough {
	color: #F00;
}

.ui-draggable-dragging .cost {
	display: none !important;
}
.libslot .cost {
	display: block;
}


.card .stars {
	width: 21px;
	height: 48px;
	background: url('images/stars.png');
	top: 3px;
    position: absolute;
    left: 3px;
}

.stars.level1 { display: none;}
.stars.level2 { background-position: 0% -100%;}
.stars.level3 { background-position: 0% -200%;}




.slot {
	width: 84px;
	height: 97px;
	background: url('images/slot.png');
	position: absolute;
}

#libslot0   {top:  78px;  left: 217px;}
#libslot1   {top:  78px;  left: 315px;}
#libslot2   {top:  78px;  left: 413px;}
#libslot3   {top:  78px;  left: 511px;}
#libslot4   {top:  78px;  left: 609px;}
#equipslot0 {top: 188px;  left: 259px;}
#equipslot1 {top: 356px;  left: 267px;}
#equipslot2 {top: 198px;  left: 468px;}
#equipslot3 {top: 217px;  left: 572px;}
#equipslot4 {top: 374px;  left: 415px;}
#equipslot5 {top: 208px;  left: 351px;}
#invslot0   {top: 501px;  left: 144px;}
#invslot1   {top: 501px;  left: 228px;}
#invslot2   {top: 501px;  left: 312px;}
#invslot3   {top: 501px;  left: 396px;}
#invslot4   {top: 501px;  left: 480px;}
#invslot5   {top: 501px;  left: 564px;}
#invslot6   {top: 501px;  left: 648px;}
#invslot7   {top: 501px;  left: 732px;}

#refresh {
	top:  77px;  
	left: 709px;
	background: url('images/buttons/refresh.png');
	width:105px;
	height: 105px;
	position: absolute;
}
	
#refresh:hover, #refresh:active {
	background-image: url('images/buttons/refresh-hover.png');
}

#refresh.disabled {
	background-image: url('images/buttons/refresh-disable.png') !important;
	/*color: #777;*/
}


#lblpotential {
    top: 185px;
    left: 692px;
}
#lblrefund, #lblrefundamount {
    top: 347px;
    left: 714px;
	width: 102px;
	height: 42px;
}
#lblrefundamount   {display:none;}
.indrag #lblrefund {display: none;}
.indrag #lblrefundamount {display: block;}

#lblpoolxp {
    left: 695px;
    top: 405px;
    color: #FC3;
    font-size: 10pt;
}
#poollevel {
	left: 727px; top: 421px; width: 76px; height: 12px;
	background: url('images/zenithpoolupgrade.png');
	position: absolute;
}
#poollevel.level1{ background-position:  0%    0%}
#poollevel.level2{ background-position:  0% -100%}
#poollevel.level3{ background-position:  0% -200%}
#poollevel.level4{ background-position:  0% -300%}
#poollevel.level5{ background-position:  0% -400%}
#poollevel.level6{ background-position:  0% -500%}
#poollevel.level7{ background-position:  0% -600%}
#poollevel.level8{ background-position:  0% -700%}
#poollevel.level9{ background-position:  0% -800%}
#poollevel.level10{ background-position: 0% -900%}

#btnpoollevel {
	left: 678px; top: 436px; width: 173px; height: 25px;
	font-family: FZXiHei,Arial,Tahoma,Helvetica,sans-serif;
	font-size: 10pt;
}



.hbutton {
	
	background: url('images/buttons/hbutton.png');
	background-size: 100% 100%;
	position: relative;
	vertical-align:middle;
	display:table-cell;
  	text-align:center;
}

.hbutton.disabled {
	background-image: url('images/buttons/hbutton-disable.png') !important;
	color: #777;
}
.hbutton:hover {
	background-image: url('images/buttons/hbutton-hover.png');
}

#lbltutoringgrowth {
	top:  173px;  
	left: 25px;
	width: 117px;
	height: 24px;
    font-size: 16px;
	color: #CCC;
}

#lblbonddetail {
	top:  227px;  
	left: 26px;
	width: 84px;
	height: 24px;
    font-size: 16px;
	color: #CCC;
}
#lblrefresh {
    top: 18px;
    left: 22px;
    width: 79px;
    height: 61px;
    font-size: 16px;
	line-height: 120%;
}

#lblrefresh2 {
	top: 70px;
    left: 33px;
    width: 100px;
    height: 50px;
}

#lbltodayscore {
	left:43px; top:198px; width:87px; height:22px;
	font-family: FZXiHei,Arial,Tahoma,Helvetica,sans-serif;
	font-size: 14px;
}

#lblsets {
	left:40px; top:254px; width:104px; height:192px;
	font-family: FZXiHei,Arial,Tahoma,Helvetica,sans-serif;
	font-size: 14px;
	color: #CCC;
}

.set.active {
	color: #33ff33;
}

#viewpool {
	top:  79px;  
	left: 810px;
	background: url('images/buttons/vbutton.png');
	background-size: 100% 100%;
	width: 32px;
	height: 108px;
	position: absolute;
	
}

#viewpool span, .hbutton span {
	margin-top: 100%;
    width: 150%;
    margin-left: -25%;
    text-align: center;
	position: absolute;
}

#viewpool:hover, #viewpool:active {
	background-image: url('images/buttons/vbutton-hover.png');
}
#viewpool.disabled {
	background-image: url('images/buttons/vbutton-disable.png') !important;
	color: #777;
}


#lbldaynum {
	left: 143px; top: 399px; width: 124px; height: 39px;
}


#lblgrowthscore {
	left: 146px; top: 436px; width: 107px; height: 41px;
}

#mark1 { 
	left:120px; top:421px; width:24px; height:24px;
	position: absolute;
	background-image: url('images/exclamation.png');	
}

#mark2 { 
	left:666px; top:180px; width:24px; height:24px;
	position: absolute;
	background-image: url('images/exclamation.png');	
}
#submit {
	left:7px; top:438px; width:140px; height:76px; /*TextOffsetY="17">*/
}
#reset {
	left:7px; top:515px; width:140px; height:76px; /*TextOffsetY="17">*/
}
#reset.disabled {
	display: none;
}

.bighbutton {
	position:absolute;
	background:  url('images/buttons/bighbutton.png'); 
}
.bighbutton:hover, .bighbutton:active {
	background-image: url('images/buttons/bighbutton-hover.png');
}
.bighbutton.disabled {
	background-image: url('images/buttons/bighbutton-disable.png') !important;
	color: #777;
}
#lblsubmit, #lblreset {
	margin-top: 50px;
	width: 150%;
	margin-left: -25%;
	text-align: center;
}

#lblhint {
	left:156px; top:472px;
	color: rgba(179,217,255,255);
	font-family: FZXiHei,Arial,Tahoma,Helvetica,sans-serif;
	font-size: 10pt;
}

#refund {
	top:  208px;  
	left: 641px;
	background-size: 100% 100% !important;
	width: 223px;
	height: 258px;
	position: absolute;
}

#refund.female {
	background-image:  url('images/profile/player_female.png');
}

.indrag #refund.female:hover, .indrag #refund.female:active {
	background-image:  url('images/profile/player_female_onhover.png');
}
#refund.male {
	background-image:  url('images/profile/player_male.png');
}

.indrag #refund.male:hover, .indrag #refund.male:active {
	background-image:  url('images/profile/player_male_onhover.png');
}


#photo {
	top:  221px;  
	left: 125px;
	background: url('images/profile/grow_female_1_y1.png');
	background-size: 100% 100%;
	width: 167px;
	height: 173px;
	position: absolute;
}

#photo.female0.age0 {background-image: url('images/profile/grow_female_0_y0.png');}
#photo.female0.age1 {background-image: url('images/profile/grow_female_0_y1.png');}
#photo.female0.age2 {background-image: url('images/profile/grow_female_0_y2.png');}
#photo.female1.age0 {background-image: url('images/profile/grow_female_1_y0.png');}
#photo.female1.age1 {background-image: url('images/profile/grow_female_1_y1.png');}
#photo.female1.age2 {background-image: url('images/profile/grow_female_1_y2.png');}
#photo.female2.age0 {background-image: url('images/profile/grow_female_2_y0.png');}
#photo.female2.age1 {background-image: url('images/profile/grow_female_2_y1.png');}
#photo.female2.age2 {background-image: url('images/profile/grow_female_2_y2.png');}
#photo.male0.age0   {background-image: url('images/profile/grow_male_0_y0.png');}
#photo.male0.age1   {background-image: url('images/profile/grow_male_0_y1.png');}
#photo.male0.age2   {background-image: url('images/profile/grow_male_0_y2.png');}
#photo.male1.age0   {background-image: url('images/profile/grow_male_1_y0.png');}
#photo.male1.age1   {background-image: url('images/profile/grow_male_1_y1.png');}
#photo.male1.age2   {background-image: url('images/profile/grow_male_1_y2.png');}
#photo.male2.age0   {background-image: url('images/profile/grow_male_2_y0.png');}
#photo.male2.age1   {background-image: url('images/profile/grow_male_2_y1.png');}
#photo.male2.age2   {background-image: url('images/profile/grow_male_2_y2.png');}

#branch {
	top:  264px;  
	left: 168px;
	background: url('images/branch.png');
	background-size: 100% 100%;
	width: 591px;
	height: 226px;
	position: absolute;
}

#bg1 {
	top:  132px;  
	left: 0px;
	background: url('images/bg1.png');
	background-size: 100% 100%;
	width: 171px;
	height: 397px;
	position: absolute;
}



#imgline1 {
	left:707px; top:204px; width:111px; height:2px;
	background: url('images/hline.png');
	position: absolute;
}
#imgline2 {
	left:707px; top:181px; width:111px; height:2px;
	background: url('images/hline.png');
	position: absolute;
}
.label {
	position: absolute;
	font-family: fzkai,serif;
	user-select: none;

}


body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
   content:
		url('images/buttons/bighbutton-hover.png') 
		url('images/buttons/bighbutton-disable.png') 
		url('images/buttons/vbutton-hover.png') 
		url('images/buttons/vbutton-disable.png')
		url('images/buttons/refresh-hover.png') 
		url('images/buttons/refresh-disable.png') 
		url('images/buttons/hbutton-disable.png')
		url('images/buttons/hbutton-hover.png') 
		url('images/profile/grow_female_0_y0.png')
		url('images/profile/grow_female_0_y1.png')
		url('images/profile/grow_female_0_y2.png')
		url('images/profile/grow_female_1_y0.png')
		url('images/profile/grow_female_1_y1.png')
		url('images/profile/grow_female_1_y2.png')
		url('images/profile/grow_female_2_y0.png')
		url('images/profile/grow_female_2_y1.png')
		url('images/profile/grow_female_2_y2.png')
		url('images/profile/grow_male_0_y0.png')
		url('images/profile/grow_male_0_y1.png')
		url('images/profile/grow_male_0_y2.png')
		url('images/profile/grow_male_1_y0.png')
		url('images/profile/grow_male_1_y1.png')
		url('images/profile/grow_male_1_y2.png')
		url('images/profile/grow_male_2_y0.png')
		url('images/profile/grow_male_2_y1.png')
		url('images/profile/grow_male_2_y2.png')
		
		url('images/profile/player_female.png')
		url('images/profile/player_female_onhover.png')		
		url('images/profile/player_male.png')
		url('images/profile/player_male_onhover.png')
		;   // load images
}


.item_color0{color:#ffffff;}
.item_color1{color:#8080ff;}
.item_color2{color:#aa32ff;}
.item_color3{color:#ffdc50;}
.item_color4{color:#ff6000;}
.item_color5{color:#ff0000;}
.item_color6{color:#b0b0b0;}
.item_color7{color:#00ffae;}

.footer {
	margin-top: 20px;
	font-size: 85%;
	color: #CCC;
	width: 600px;
}

.pwi-qtip {
	border-width: 1px;
	border-style: solid;
	border-color: #169;
	background-color: rgba(20, 20, 20, 0.9);
	white-space: nowrap;
	color: #FFF;
	max-width: 100%;
	font-size: 80% !important;
	line-height: 145%;
	pointer-events: none;
}



