.content {
	position: relative; 
	text-align: left; 
	width: 965px; 
	margin:0 auto;
}

.icon {
	width: 32px;
	height: 32px;
	cursor: pointer;
	background-size: 100% 100%;
	display: inline-block;
}

.item {
	display: inline-block;
	width: 300px;
	background-repeat: no-repeat;
	padding-left: 35px;
	padding-top: 14px;
	height: 18px;
}


.label {
	display: inline-block;
	vertical-align: bottom;
}

.recipe {
	background: #222;
	position: relative;
	border-radius: 4px;
	margin: 5px 0px;
}

.panel {
	vertical-align: top;
	display: inline-block;
	background-color: #181818;
	padding: 10px;
	border-top: 36px solid black;
	position: relative;
	margin: 4px 0px 4px 0px;
}

.source {
	margin-left: 4px;
	width: 338px;
}

.panel::before {
	position: absolute;
	top: -33px;
	left: 10px;
	height: 32px;
	padding-top: 10px;
}	

.title {
	width: 100%;
	background: #333;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.title > *:first-child {
	margin: 5px;
}
.title:before {
	content: "Recipe for ";
	margin-left: 15px;
	font-weight: bold;
	font-size: 1.1em;
}


.source, .cost {
	margin-right: 5px;
}

.mats::before {
	content: "Materials";
}

.source::before {
	content: "Original Item";
}

.mat > .label {
	width: 40px;
	text-align: right;
	padding-right: 5px;
}

.selector > .label {
	width: 70px;
}

.selector select {
	width: 100px;
}
.cost {
	width: 170px;
}
.cost .label {
	width: 75px;
}

.cost::before {
	content: "Chienkun Cost";
	position: absolute;
	top: -33px;
	left: 10px;
	height: 32px;
	background-image: url('http://asterpw.github.io/pwicons/f/12980.png');
	background-repeat: no-repeat;
	padding-left: 35px;
}

.cost .value {
	width: 40px;
	display: inline-block;
	text-align: right;
}
.ui-autocomplete.ui-menu {
	background-color: #444;
	border-radius: 2px;
	border: 1px solid black;
	padding: 2px 0px;
	overflow: hidden;
	overflow-y: auto;
	max-height: 300px;
}

.ui-menu-item.ui-state-focus {
	background-color: #555555;
}

.ui-autocomplete .ui-menu-item {
	display: block;
	padding: 2px 4px;
	cursor: pointer;
}

.ui-helper-hidden-accessible {
	display: none;
}

.item_color0 {color:#ffffff;}
.item_color1 {color:#8080ff;}
.item_color2 {color:#ffdc50;}
.item_color3 {color:#aa32ff;}
.item_color4 {color:#ff6000;}
.item_color5 {color:#ffffff;}
.item_color6 {color:#b0b0b0;}
.item_color7 {color:#0000ff;}
/*.item_color8 {color:#6cfb4b;}*/
.item_color8 {color:#ff0000;}
.item_color9 {color:#ff0000;}
.item_color10{color:#80ffff;}